:root {
  --main-color-light: #ffcc00;
  --main-color: #b13bff;
  --main-color-dark: #471396;
  --main-shadow: #090040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  color: var(--main-color-dark);
  background:
    url("/images/flower2.webp"),
    color-mix(in srgb, var(--main-color) 10%, transparent);
  background-repeat: no-repeat;
  background-position-x: right;

  height: auto;
  min-height: 100svh;
}

.topPanel {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;

  min-height: 2.8rem;
  padding: 0.2rem;
}

.mainButton {
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 1px var(--main-shadow);
  user-select: none;
  cursor: pointer;

  outline: none;
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin: 0.2rem;
  min-width: 5rem;
  min-height: 2rem;

  background: linear-gradient(
    var(--main-color),
    var(--main-color-dark) 50%,
    var(--main-color)
  );
  border: 0.1rem solid var(--main-color-dark);
  box-shadow: 0.1em 0.1em 0.2em var(--main-color-dark);
}

.mainButton:hover {
  background:
    linear-gradient(
      -60deg,
      transparent 0%,
      transparent 45%,
      var(--main-color-light) 50%,
      transparent 55%
    ),
    linear-gradient(
      var(--main-color),
      var(--main-color-dark) 50%,
      var(--main-color)
    );
  background-size:
    300% 100%,
    100% 100%;
  background-position:
    100% 0%,
    0 0;
  animation: glint 0.5s linear forwards;
  box-shadow:
    0.1em 0.1em 0.2em var(--main-color-dark),
    0 0.1em 0.1em var(--main-color) inset;
}

@keyframes glint {
  from {
    background-position-x: +100%;
  }
  to {
    background-position-x: -50%;
  }
}

.mainButton:active {
  box-shadow: none;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.mainInput {
  border-color: silver;
  margin: 0.1rem;
}

#authInputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#authSwitchers {
  display: flex;
  flex-direction: column;
}

#LoginButton {
  position: absolute;
  z-index: 1001;
}

#logoutButton {
  position: absolute;
}

.switcher {
  margin: 0.1rem;
  text-decoration: underline;
  cursor: pointer;
}

.tableTitle {
  font-size: 1.5rem;
}

.verticalForm {
  display: flex;
  flex-direction: column;
}
/*
@media only screen and (max-width: 414px) {
  .react-resizable-handle {
    width: 60px !important;
    height: 60px !important;
  }
}
*/
